POSTGRES_USER=eshop_admin
POSTGRES_PASSWORD=eshop_admin
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_DSN=postgres://eshop_seller:eshop_seller@postgres:5432/eshop_seller?sslmode=disable

ESHOP_SELLER_DB_USER=eshop_seller
ESHOP_SELLER_DB_PASSWORD=eshop_seller
ESHOP_SELLER_DB_NAME=eshop_seller

ESHOP_SSO_DB_USER=eshop_sso
ESHOP_SSO_DB_PASSWORD=eshop_sso